@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
 --light-grey: #8C8C8C;
 --black: #1D1D1D;
 --coral: #FF868E;
 --light-coral: #FBE0DC;
}

body {
  background: #F8F8F7;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Jost, sans-serif;
}

a, a:link, a:visited, a:hover  {
  text-decoration: none;
}

ul, ul li {
	list-style: none;
}

img, svg {
	max-width: 100%;
	height: auto;
}

button, input {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
}


*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
  margin: 30px auto;
  max-width: 1440px;
}


.wrapper {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding: 30px 30px 30px 147px;
}

@media screen and (min-width: 2000px) {
  .wrapper {
    padding: 30px 30px 30px 30px;
  }
}



.action__display-wrapper {
  width: 680px;
  height: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
}

.action__header {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.action__header-btn {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: var(--light-coral);
  background-image: url(/public/arrowleft.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s ease-in-out;
}

.action__header-btn:hover {
  background: var(--coral);
  background-image: url(/public/arrowleftwhite.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.action__header-title {
  border-radius: 10px;
  background: var(--coral);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  height: 40px;
  letter-spacing: 2px;
  padding: 5px 30px;
}



