.upload__btn {
  width: 143px;
  height: 40px;
  border-radius: 10px;
  background: var(--light-coral);
  display: flex;
  justify-content: space-between;
  padding: 12px 30px;
  color: var(--coral);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  align-items: center;
  background-image: url(/public/upload-16.svg);
  background-position: 80% 48%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.upload__btn:hover {
  background-image: url(/public/uploadwhite.svg);
  background-position: 80% 48%;
  background-repeat: no-repeat;
  background-color: var(--coral);
  color: #fff;
  transition: 0.3s ease-in-out;
}

.search__results {
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 470px;
  gap: 5px;
  border-radius: 10px;
  background: #fff;
  padding-left: 20px;
  border: 2px solid transparent;
  transition: 0.3s;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 300px;
  overflow-y: auto;
  border: 2px solid var(--light-coral);
  top: 69px;
}

.search__results-hidden {
  display: none;
}

.search__result {
  font-size: 20px;
  line-height: 30px;
  color: var(--black);
}
